{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messageboard – {{ current_category }}</title>
</head>
<body>
    {% block content %}
    <section>
        <center>
            <h2>Post New Thread To {{ current_category }}:</h2>
            <h3>{{ category_description }}</h3>
            <form action="/createthread/{{ current_category }}" method="POST" enctype="multipart/form-data">
                <label for="title">Title:</label><br>
                <textarea name="title" rows="1" cols="25"></textarea><br>
                <label for="content">Content:</label><br>
                <textarea name="content" rows="3" cols="40"></textarea><br>
                <div></div>
                <input type="file" name="image" id="image" accept="image/png" required="required">
                <div></div>
                <input type="submit" value="Send">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </center>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </section>

    <section>
        <h2>Threads</h2>
        {% for thread in threads %}
        <div class="thread-container">
            <div class="image-container">
                <img src="data:image/png;base64,{{ thread.image_data_base64 }}">
            </div>
            <div class="content-container">
                <h2><a href="/threads/{{ current_category }}/{{ thread.id }}">{{ thread.title }}</a></h2>
                <p>{{ thread.content }}</p>
                <p>by {{ thread.username }} at {{ thread.created_at }}</p>
                {% if thread.username == current_user %}
                <form id="deleteForm" action="/deletethread" method="POST">
                    <input type="hidden" name="thread_id" value="{{ thread.id }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <a href="#" onclick="document.getElementById('deleteForm').submit(); return false;">
                        <p style="font-size: 12px;">Delete</p>
                    </a>
                </form>
                {% endif %}
            </div>
        </div>        
        <hr>
        {% endfor %}
    </section>
    {% endblock %}
</body>
</html>
