{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messageboard</title>
</head>
<body>
    {% block content %}
    <section>
        <center>
            <h2>Post New Thread:</h2>
            <form action="/createthread" method="POST">
                <label for="title">Title:</label><br>
                <textarea name="title" rows="1" cols="25"></textarea><br>
                <label for="content">Content:</label><br>
                <textarea name="content" rows="3" cols="40"></textarea><br>
                <input type="submit" value="Send">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </center>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </section>

    <section>
        <h2>Threads</h2>
        {% for thread in threads %}
        <article>
            <h2><a href="/threads/{{ thread.id }}">{{ thread.title }}</a></h2>
            <p>{{ thread.content }}</p>
            <p>by {{ thread.username }} at {{ thread.created_at }}</p>
            <form id="deleteForm" action="/deletethread" method="POST">
                <input type="hidden" name="thread_id" value="{{ thread.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <a href="#" onclick="document.getElementById('deleteForm').submit(); return false;">
                    <p style="font-size: 12px;">Delete</p>
                </a>
            </form>
        </article>
        <hr>
        {% endfor %}
    </section>
    {% endblock %}
</body>
</html>
