<center>
    <h1>
        <a href=/threads >
            Messageboard
        </a>   
    </h1>
    {% if session.username %}
    <p>Welcome to the site, {{ session.username }}!</p>
    {% if threads %}
    <p>Your threads:</p>
    {% for thread in threads %}
    <hr>
    <p>
        <a href=/threads/{{ thread.id }}>
            <h2>{{ thread.title }}</h2>
        </a> 
        <p>
            {{ thread.content }}
        </p>
        <p>
            posted at {{ thread.created_at }}
        </p>
        <p>
            messages: {{ thread.message_count }}
        </p>
    </p>
    {% endfor %}
    </hr>    <hr>
    {% else %}
    Looks like you don't have any threads yet!
    <hr>
    {% endif %}
    {% else %}
    <form action="/login" method="POST">
        <h2>Welcome!</h2>
        <p>username:<br>
        <input type="text" name="username"></p>
        <p>password:<br>
        <input type="password" name="password"></p>
        {% if incorrect_pass %}
        <p style="color:red;">incorrect password</p>
        {% endif %}    
        <input type="submit" value="login">
    {% endif %}
</center>