<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messageboard</title>
</head>
<body>
    <center>
        <h1>
            <a href="/threads">Messageboard</a>
        </h1>
        <form action="/login" method="POST">
            <h1>Welcome Aboard!</h1>
            <p>Username:<br>
            <input type="text" name="username"></p>
            <p>Password:<br>
            <input type="password" name="password"></p>
            {% if incorrect_pass %}
                <p style="color:red;">Incorrect password</p>
            {% endif %}    
            <input type="submit" value="Login">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </center>
</body>
</html>
